@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .nav_anch_p {
        @apply text-white  hover:text-orange-500 tracking-wide text-base
    }

    /* Hamburger Button*/
    .hamburger {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.25s;
        position: relative;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        width: 24px;
        height: 2px;
        top: 0;
        left: 0;
        background: #fff;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .hamburger-middle {
        transform: translateY(7px);
    }

    .hamburger-bottom {
        transform: translateY(14px);
    }

    .open {
        transform: rotate(90deg);
    }

    .open .hamburger-top {
        transform: rotate(45deg) translateY(6px) translateX(6px);
    }

    .open .hamburger-middle {
        display: none;
    }

    .open .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translateX(-6px);
    }

        .parent_container {
            @apply flex flex-col items-center justify-center
        }

    .parent_header{
        @apply text-center text-Primary text-[1.4rem] font-bold md:text-4xl  my-7 select-none
    }
    .booking_p{
        @apply text-base  font-medium text-gray-800 border-b-2 pb-2  border-Primary/20
    }

    .child_container {
        @apply flex flex-col mb-5  md:flex-row justify-center items-center  md:flex-wrap
    }

    .homeSecHeader {
        @apply text-[1.75rem] font-bold text-center my-2 md:text-3xl text-gray-950  md:my-5 select-none
    }

    .CategoryCard {
        @apply flex flex-col justify-center items-center space-y-2 rounded-xl  hover:shadow-lg hover:shadow-red-100
        cursor-pointer md:transition-all md:duration-[0.3s] md:hover:-translate-y-2
    }

    .CategoryButton {
        @apply px-8 py-2 text-white bg-red-600 hover:bg-red-700 font-bold rounded-lg text-base md:text-lg  md:px-16 md:py-3
        text-center inline-flex items-center leading-5 tracking-wide
    }

    .ServiceCard {
        @apply flex  md:flex-row gap-2
    }

    .Service_icon_header {
        @apply text-[23px] font-medium text-Primary select-none
    }
    .Service_icon_paragraph{
        @apply text-sm font-medium text-Primary/85 select-none md:max-w-[250px]
    }


      .TourCard {
        @apply flex flex-col w-[22rem] md:w-[400px]  my-4  md:mb-2 md:my-0 md:mr-3 overflow-hidden rounded-2xl   bg-white shadow-sm
        transition-all duration-[0.2s]
    }

    .tour_details_h {
        @apply text-[14px] font-medium md:font-semibold md:text-[16px]    mb-2;
    }

    .tour_details_p {
        @apply  text-xs  font-semibold md:text-[0.9rem] leading-6 tracking-wide text-Primary;
    }
    .Category_titleContainer{
        @apply h-fit overflow-hidden  box-border text-center md:max-w-[75%] bg-black/20 rounded-lg p-3.5 md:p-6
    }
    .Category_title{
        @apply text-[20px] font-extrabold md:text-[40px] select-none text-white sm:leading-7 md:leading-[3rem]
    }
    .footer_main {
        @apply text-lg font-medium mb-7 text-white
    }
    .footer_anchor{
        @apply border-b-2 border-[#ff6000] mb-2 md:mb-3 pb-1 hover:text-[#ff6700] transition duration-200 hover:translate-x-1 text-white
    }
    .tourDetail_container{
        @apply transition-all duration-300 bg-white px-4 py-2 font-medium w-full
        rounded-lg  shadow-md border-l-[3px] border-l-[#ff6700]
    }
    .image-gallery{
        @apply md:h-28 md:w-[8rem] w-[5rem] h-16   hover:opacity-100 transition-opacity  flex flex-shrink-0 object-cover bg-center bg-cover
    }

    .text{
        @apply hidden bottom-[128px] text-center w-full h-8 bg-slate-200/50 select-none;
    }

    .dot{
        @apply cursor-pointer w-24 h-4 my-1 bg-black/50 rounded-full inline-block;
    }
    .previous{
        @apply absolute top-[35%] ml-3 select-none cursor-pointer
        text-2xl text-white text-center  hover:bg-black/50 transition duration-200
    }
    .next
    {
        @apply absolute top-[35%] right-0 md:right-0  mr-3 select-none cursor-pointer
        text-2xl text-white  transition duration-200 hover:bg-black/50
    }

    .price_label{
        @apply text-lg font-semibold
    }
    .input_style{
        @apply h-12 w-80
        rounded-lg text-black font-medium bg-white bg-transparent placeholder-transparent border-2 focus:border-[#ff6000] px-2
         focus:outline-none shadow-md;
      }

      .input_label_style{
        @apply absolute cursor-text left-0 -top-4 text-sm font-medium
         bg-inherit mx-1 px-1 peer-placeholder-shown:text-sm bg-white
         peer-placeholder-shown:text-black/50 peer-placeholder-shown:top-2
         peer-focus:-top-4 peer-focus:text-black peer-focus:text-sm transition-all;
      }

    .Next_Previous {
        @apply sm:hidden md:block md:absolute top-[50%]  select-none cursor-pointer hover:text-red-500;
    }

    .hide-scrollbar::-webkit-scrollbar {
        @apply hidden overflow-x-auto;
    }

    .destination_p{
        @apply text-gray-800/75 text-xs font-medium p-1 md:p-0   md:text-base leading-6 md:mt-2 md:mb-2;
    }
    .destination_header{
        @apply text-gray-800/80 font-bold text-[0.85rem] p-1 md:text-lg md:p-0 ;
    }


    .main_button {
        @apply inline-block  text-white  tracking-widest  rounded-full
        transition-all duration-500
        border-2 hover:bg-[#ff6700] hover:text-white hover:border-[#ff6700]
    }

    .checkbox{
        @apply w-5 h-5 cursor-pointer border border-gray-300  rounded-md  checked:bg-no-repeat checked:bg-center checked:bg-[#ff6700]
    }

    .checkbox_span{
        @apply text-sm  text-gray-600 ml-2  font-medium
    }

    .checkbox_label{
        @apply flex p-3 cursor-pointer  bg-white border-2 border-gray-300 hover:border-orange-500 transition-all rounded-md text-sm flex-shrink-0 w-[20rem] justify-between
    }

}
